body {
    margin: 0px;
    background: #1a1e22ee;
}

.header {
    width: 100%;
    margin-top: 50px;
}

.header .menu ul{
    text-align: center;
    position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
    width: 100%;
}
.header .menu ul li {
    display: inline-block;
	flex-direction: row;
	gap: 15px;
}
.header .menu ul li a {
    display: block;
    color: #FFFFFF;
    padding: 30px 10px;
}

.header .menu .icone {
	width: 30px;
	filter: invert(1);
	transition: 0.3s ease-in-out;
}

.header .menu .icone:hover {
	transform: scale(1.2);
}
.header .menu .sublinhado {
    position: relative;
    text-decoration: none;
}

.header .menu .sublinhado::after {
    background: #f00;
    background: linear-gradient(to right, transparent 0%, rgb(209, 173, 53) 50%, transparent 100%);  
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
 }

.container {
    display: flex;
    flex-direction: row;  
    color: white;
	justify-content: center;
    /*border-image: url('../imagens/desmaiadotopleft.png') 45 / 45px ;*/
}

.vectorlefttop{
    position: absolute;
    top: 0;
    margin-left: 10%;
    z-index: 1;
}
/*.vectorleftbot{
    position: fixed;

}
.vectorrighttup{
    position: fixed;

}*/
.vectorrightbot{
    position: absolute;
    margin-top: 0%;
    margin-right: 10%;
    right: 0px;
    bottom: 50px;
    z-index: 1;
}

.informacoes{
    display: flex;
    flex-direction: column;
    gap: 5%;
    height: 50%;
    width: 50%;
    align-items: center;
    margin-top: 0%;
}

.informacoes p {
    border-width: 3px;
    border-style: solid;
    padding: 5%;
    border-image: 
    linear-gradient(transparent 0%, rgb(209, 173, 53) 50%, transparent 100%) 0 0 0 100;
}

.foto{
    background-color: #aaa;
    border-radius: 50%;
    width: 100px;
    height: 150px;
    overflow: hidden;
    position: absolute;
    margin-left: 10%;
    margin-top: 3%;
    z-index: 1;
}

