body {
    margin: 0px;
    background: #1a1e22d2;
}

.header {
    width: 100%;
    margin-top: 50px;
}
/*header antigo sem animaçoes*/
/* .header .abas{
    padding-left: 28%;
}
.header .menu ul{
    text-align: center;
    position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
    width: 100%;
}
.header .menu ul li {
    display: inline-block;
	flex-direction: row;
	gap: 15px;
}
.header .menu ul li a {
    display: block;
    color: #FFFFFF;
    padding: 30px 10px;
}
*/
/* .header .menu .sublinhado {
    position: relative;
    text-decoration: none;
}

.header .menu .sublinhado::after {
    background: #f00;
    background: linear-gradient(to right, transparent 0%, rgb(209, 173, 53) 50%, transparent 100%);  
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
 }*/

/*Header animado*/
.mynav ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style-type: none;
    
}
  
.mynav li:not(:last-child) {
    margin-right: 20px;
}

.mynav .abas {
margin-right: 100px;
}

.mynav .abas a {
    display: block;
    font-size: 20px;
    color: rgb(248, 243, 243);
    text-decoration: none;
    padding: 7px 15px;
}
  
.target {
    position: absolute;
    border-bottom: 4px solid transparent;
    z-index: -1;
    transform: translateX(-60px);
}

.mynav .alinhamentoicone{
    position: absolute;
    margin-left: 75%;
}


.mynav .icone {
	width: 30px;
	filter: invert(1);
	transition: 0.3s ease-in-out;
    opacity: 0.4;
    float: right;
}

.mynav .icone:hover {
	transform: scale(1.2);
}

.mynav .abas a,
.target {
    transition: all .35s ease-in-out;
}

.container {
    display: flex;
    flex-direction: column;  
    color: white;
    /*border-image: url('../imagens/desmaiadotopleft.png') 45 / 45px ;*/
}


.color{
    background-color: aliceblue;
}

.vectorlefttop{
    position: absolute;
    top: 0;
    margin-left: 0%;
    margin-top: 0%;
    z-index: -1;
}

/*caso queira trocar posição das bordas*/
/*.vectorleftbot{
    position: fixed;

}
.vectorrighttup{
    position: fixed;

}*/
.vectorrightbot{
    position: relative;
    float: right;
}

.informacoes{
    display: flex;
    flex-direction: column;
    gap: 5%;
    height: 50%;
    width: 50%;
    align-items: center;
    margin-left: 25%;
}

.informacoes p {
    border-width: 3px;
    border-style: solid;
    padding: 5%;
    border-image: 
    linear-gradient(transparent 0%, rgb(209, 173, 53) 50%, transparent 100%) 0 0 0 100;
    display: flex;
    text-align: justify;
}

.informacoes h1 {
    margin-bottom: -30px;
    font-size: 50px;
    font-weight: 100;
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.sobremim{
    margin-top: 15px;
    font-size: 18px;
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
    position: relative;
}

.sobremim h1{
    text-align: center;
}

.sobremim .alinhamento h1{
    text-align: center;
    
}

.sobremim h5{
    text-align: center;
}

.sobremim p{
    margin-left: 400px;
    max-width: 500px;
    margin-top: 25px;
}
/*
.sobremim p {
    border-width: 3px;
    border-style: solid;
    padding: 5%;
    border-image: 
    linear-gradient(transparent 0%, rgb(209, 173, 53) 50%, transparent 100%) 0 0 0 100;
    display: flex;
    font-size: 30px;
}

.sobremim h1 {
    margin-bottom: -30px;
    font-size: 50px;
    font-weight: 100;
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
*/
.foto{
    background-color: #aaa;
    border-radius: 50%;
    width: 250px;
    height: 350px;
    margin-left: 100px;
    overflow: hidden;
    position: relative;
    float:left;
    margin-top: -60px;
}

article{
    margin-top: 100px;
    margin-left: 100px;
}

article ul{
   font-size: 0; /* elimina espaços entre as li */

}

article ul li img{
   width: 70%; /* ajusta a largura da imagem dentro da li */
   display: block; /* convertendo para block elimina espaço natural abaixo da imagem */
}

article ul, article ul li{ /* remove espaços e o bullet da ul e das li */
   list-style: none;
   margin: 0;
   padding: 0;
}

article ul li{
   display: inline-block;
   width: 50%; /* divide a largura por 4 */
   box-sizing: border-box; /* restringe o padding à área da li */
   text-align: center; /* centraliza o conteúdo */
   padding: 5px; /* espaçamento interno entre o conteúdo e a borda da li */
   font-size: 16px; /* ajusta o tamanho da fonte nas li com o tamanho padrão */
   vertical-align: top; /* alinha as li no topo da linha */
}

.textoimg{
    position: absolute;
    text-align: center;
    background-color: wheat;
    bottom: 0;
    left: 0;
    color: aliceblue;
}

.skill-icons {
    display: flex;
    padding: 70px;
    height: 128px;
    flex:1;
}

.skill-icons>img {
    display: flex;
    padding: 50px;
    height: 128px;
    flex:1;
}

.bar {
    background: rgb(255, 249, 164);
    display: block;
    height: 20px;
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 7px;
    overflow: hidden;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.bar:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.bar span {
    height: 20px;
    float: left;
    
}

.teste {
    background: linear-gradient(135deg, rgb(243, 243, 243)0%, rgb(255, 249, 164)100%);
    width: 90%;
    animation: html 1s;
}

.html {
    background: linear-gradient(135deg, rgb(238, 145, 5)0%, rgb(255, 180, 251)100%);
    width: 90%;
    animation: html 3s;
}

.css {
    background: linear-gradient(135deg, rgb(0, 4, 236)0%, rgb(64, 161, 218)100%);
    width: 70%;
    animation: css 3s;
}

.javascript {
    background: linear-gradient(135deg, rgb(198, 231, 11)0%, rgb(255, 180, 251)100%);
    width: 40%;
    animation: javascript 3s;
}

.php {
    background: linear-gradient(135deg, rgb(104, 75, 233)0%, rgb(183, 173, 231)100%);
    width: 60%;
    animation: php 3s;
}

.node {
    background: linear-gradient(135deg, rgb(0, 236, 118)0%, rgb(105, 124, 103)100%);
    width: 20%;
    animation: node 3s;
}

.python {
    background: linear-gradient(135deg, rgb(24, 0, 236)0%, rgb(175, 144, 6)100%);
    width: 30%;
    animation: python 3s;
}

.box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
  }

.box>div{
    text-align: center;
}

.alinhamento{
    margin-left: 50px;
    margin-right: 50px;
    text-align: justify;
    margin-top: 80px;
}

.alinhamento h1 {
    text-align: center;
}

.alinhamento h2{
    margin-top: 50px;
}

.alinhamento h3{
    margin-top: -20px;
}

.alinhamento h5{
    margin-top: -20px;
}

.alinhamentoiconefooter{
    align-items: center;
    margin-right: 30px;
}


@keyframes html {
    0%{
        width: 0%;
    }
    100%{
        width: 90%;
    }
}


@keyframes css {
    0%{
        width: 0%;
    }
    100%{
        width: 70%;
    }
}

@keyframes javascript {
    0%{
        width: 0%;
    }
    100%{
        width: 40%;
    }
}

@keyframes python {
    0%{
        width: 0%;
    }
    100%{
        width: 30%;
    }
}

@keyframes node {
    0%{
        width: 0%;
    }
    100%{
        width: 20%;
    }
}

@keyframes php {
    0%{
        width: 0%;
    }
    100%{
        width: 60%;
    }
}
